

.card{
    margin-top: 20px;
    display: flex;
    border:solid;
    border-color: white;
    flex-direction: column;
    width: 23rem;
    height: 24rem;
    background-color: black;
    border-radius: 5px;
    font-family: sans-serif;
}


.img{
    display: block;
    width: 100%;
    height: 300px;
    align-items: center;
    background-color: black;
    transition: 0.5s;
    object-fit:cover;
}

.name{
    display: flex;
    position: absolute;
    color:white;
    justify-content: center;
    width: 23rem;
    font-size: 30px;
    font-family: sans-serif;
    height: 32%;
    padding: 0 0 0 0;
    box-shadow:  inset 0 50px 100px 0 black;
    
    
}

.genre{
    text-decoration: none;
    color: #F2E205;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.genre>p{
    border: solid;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
}

.img:hover {
    opacity: 80%;
    transition: 0.5s;
    }