/* .total{
    display: flex;
    justify-content:space-around;
    background-color: black;
} */


.cardDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 12.2rem;
    background-color: red;
}

.div{
    position:flex;
    background-color: black;
    margin: auto;
}
.link{
    text-decoration: none;
    border: 0;
}

